

.contact-container {
  max-width: 1000px;
  margin: 50px auto;
  background: #fff;
  color: #333;
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.25);
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  animation: fadeIn 0.8s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.contact-info {
  padding: 20px;
  line-height: 1.6;
}

.contact-info h2 {
  font-size: 26px;
  margin-bottom: 15px;
  color: #0d6efd;
}

.contact-info p {
  margin: 10px 0;
  font-size: 15px;
}

.contact-info p strong {
  color: #0d6efd;
}

.contact-form h2 {
  font-size: 26px;
  margin-bottom: 20px;
  color: #0d6efd;
}


.contact-form form {
  display: flex;
  flex-direction: column;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 12px 14px;
  margin-bottom: 18px;
  border: 2px solid transparent;
  border-radius: 10px;
  font-size: 15px;
  outline: none;
  transition: all 0.3s ease;
  background: #fff;
  color: #333;
  box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.1);
   background-image: linear-gradient(#fff, #fff), 
                    linear-gradient(90deg, #0d6efd, #5a9dfd); 
  background-origin: border-box;
  background-clip: padding-box, border-box;
}
.contact-form select{
 width: 100%;
  padding: 12px 14px;
  margin-bottom: 18px;
  border: 2px solid #0d6efd;
  border-radius: 10px;
  font-size: 15px;
  transition: all 0.3s ease;
  background: #fff;
  color: #333;
  box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.1);
  background-origin: border-box;
  background-clip: padding-box, border-box;
}
.contact-form input::placeholder,
.contact-form textarea::placeholder {
  color: #080808;
  font-size: 14px;
  opacity: 0.9;
}


/* Hover state */
.contact-form input:hover,.contact-form select:hover,
.contact-form textarea:hover {
  border-color: transparent;
  box-shadow: 0 0 8px rgba(90, 157, 253, 0.4);
}

/* Focus state */
.contact-form input:focus,.contact-form select:focus,
.contact-form textarea:focus {
  border-color: transparent;
  background-image: linear-gradient(#fff, #fff), 
                    linear-gradient(90deg, #0d6efd, #5a9dfd);
  box-shadow: 0 0 10px rgba(13, 110, 253, 0.6);
}

/* Button styling */
.contact-form button {
  background: #0d6efd;
  color: #fff;
  border: none;
  padding: 12px 24px;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.contact-form button:hover {
  background: #0956d1;
  transform: translateY(-2px);
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.25);
}

/* Responsive */
@media (max-width: 768px) {
  .contact-container {
    grid-template-columns: 1fr;
    padding: 25px;
  }
}

